@using JoinAndDo.Entities
@{
    List<Accession> listMyAccessionsManagement = ViewBag.listMyAccessionsManagement;
    List<Accession> listMyAccessions = ViewBag.listMyAccessions;
}

@{
    ViewBag.Title = "Join And Do";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.6.4-vsdoc.js"></script>
<script src="~/Scripts/jquery-1.6.4.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>

<script src="~/Scripts/js_sms.js"></script>
<link href="~/Styles/style_my_accession.css" rel="stylesheet" />
<script src="~/Scripts/js_my_accessions.js"></script>

<script>
    function OpenAccession(id) {
        window.location.href = "/JoinAndDo/AccessionId/" + id;
    }
</script>

<div id="blocks">
    <div id="select_accessions">
        <button id="btn_AccessionsManagement" onclick="show_AccessionsManagement()">AccessionsManagement</button>
        <button id="btn_Accessions" onclick="show_Accessions()">Accessions</button>
    </div>
    <div id="list_accessions">
        <div id="list_AccessionsManagement">
            @foreach (var accession in listMyAccessionsManagement)
            {
                <div class="block" onclick="OpenAccession(@accession.Id)">
                    <div class="top">
                        <strong class="name">@accession.Title</strong>
                        <div class="rating">
                            <p class="number_of_people">
                                <strong>@accession.People</strong>
                                <strong>/ @accession.AllPeople</strong>
                            </p>
                        </div>
                        <div class="creator">
                            <strong>@accession.Creator</strong>
                        </div>
                    </div>
                    <div class="description">@accession.Text</div>
                </div>
            }
        </div>
        <div id="list_Accessions">
            @foreach (var accession in listMyAccessions)
            {
                <div class="block" onclick="OpenAccession(@accession.Id)">
                    <div class="top">
                        <strong class="name">@accession.Title</strong>
                        <div class="rating">
                            <p class="number_of_people">
                                <strong>@accession.People</strong>
                                <strong>/ @accession.AllPeople</strong>
                            </p>
                        </div>
                        <div class="creator">
                            <strong>@accession.Creator</strong>
                        </div>
                    </div>
                    <div class="description">@accession.Text</div>
                </div>
            }
        </div>
    </div>
</div>