@{
    ViewBag.Title = "Join And Do";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using JoinAndDo.Entities
@{
    List<Interlocutor> listInterlocutors = ViewBag.listInterlocutors;
}

<script src="~/Scripts/js_my_messages_sms.js"></script>
<link href="~/Styles/style_my_messages.css" rel="stylesheet" />
<script src="~/Scripts/sc_my_messages.js"></script>

<div id="blocks">
    @foreach (var Interlocutor in @listInterlocutors)
    {
    <div class="dialog">
        <div class="sender_name">@Interlocutor.login</div>
        <div class="messages">
            @foreach (var msg in @Interlocutor.dialog)
            {
                <div id="message">
                    @if (@msg.login != @Interlocutor.login)
                    {
                    <div class="list_message" id="my_message">@msg.text</div>
                    }
                    else
                    {

                    <div class="list_message" id="him_message">@msg.text</div>
                    }
                </div>
            }
        </div>
        <div class="div_send_msg">
            <textarea class="txt_msg"> </textarea>
            <button class="btn_send_msg">Send</button>
        </div>
    </div>
    }
</div>
