
@using JoinAndDo.Entities
@{
    User user = ViewBag.User;
    bool isMyProfile = ViewBag.IsMyProfile;
}
@{
    ViewBag.Title = @user.FirstName  + " " + @user.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/js_sms.js"></script>
<link href="~/Styles/style_my_profile.css" rel="stylesheet" />
<script src="~/Scripts/sc_my_profile.js"></script>

<div id="blocks">
    <div id="information">
        <div id="form_img_profile">
            <img src="~/Images/@user.PathImg" id="img_profile" alt="test" />
            @if (isMyProfile)
            {
                <div id="load_img">
                    Change picture
                    <input type="file" id="fileInput" accept="image/*" onchange="EditProfileImg();" />
                </div>
            }
        </div>
        
        <div id="form_write_msg">
            <p>To:</p>
            <p id="recipient_name">@user.Login</p>
            <textarea id="txt_msg" ></textarea>
            <button id="btn_send_msg" onclick="SendMsg()">Send</button>
            <button id="close" onclick="HideFormWriteMsg()">Close</button>
        </div>
        <p id="full_name">@user.LastName @user.FirstName</p>
        <div id="shape">
            @if (user.IsOnline)
            {
                <div class="shape_status" id="shape_status_online"></div>
                <p>Online</p>
            }
            else
            {
                <div class="shape_status" id="shape_status_offline"></div>
                <p>Offline</p>
            }
        </div>
        <div id="Statistics">
            <div class="statictic">
                <p>Completed projects (@user.CompletedAccessions/@user.AllAccessions)</p>
                <div id="full_of_accession">
                    <div id="line_in_statusbar" style="width: @user.CompletedAccessionsPercent%" />
                </div>
            </div>

            <div class="statictic">
                <p>Abandoned projects (@user.AbandonedAccessions/@user.AllAccessions)</p>
                <div id="full_of_accession">
                    <div id="line_in_statusbar" style="width: @user.AbandonedAccessionsPercent%" />
                </div>
            </div>


            <div class="statictic">
                <p>Currently have projects (@user.CurrentlyAccessions/@user.AllAccessions)</p>
                <div id="full_of_accession">
                    <div id="line_in_statusbar" style="width: @user.CurrentlyAccessionsPercent%" />
                </div>
            </div>
        </div>
    </div>
</div>