
@using JoinAndDo.Entities
@{
    User user = ViewBag.User;
}
@{
    ViewBag.Title = @user.FirstName  + " " + @user.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/js_sms.js"></script>
<link href="~/Styles/style_my_profile.css" rel="stylesheet" />
<script src="~/Scripts/sc_my_profile.js"></script>

<div id="blocks">
    <div id="information">
        <img src="~/Styles/images/profile.png" id="img_profile" alt="test" />
        
        <div id="form_write_msg">
            <p>To:</p>
            <p id="recipient_name">@user.Login</p>
            <textarea id="txt_msg" ></textarea>
            <button id="btn_send_msg" onclick="SendMsg()">Send</button>
            <button id="close" onclick="HideFormWriteMsg()">Close</button>
        </div>
        <p id="full_name">@user.LastName @user.FirstName</p>
        <div id="shape">
            @if (user.IsOnline)
            {
                <div class="shape_status" id="shape_status_online"></div>
                <p>Online</p>
            }
            else
            {
                <div class="shape_status" id="shape_status_offline"></div>
                <p>Offline</p>
            }
        </div>
        <div id="Statistics">
            <div class="statictic">
                <p>Fulfillment accession</p>
                <div id="full_of_accession">
                    <div id="completed_percentage_of_accessions" />
                </div>
            </div>

            <div class="statictic">
                <p>Accepted connections</p>
                <div id="full_of_accession">
                    <div id="percentage_of_accepted_connections" />
                </div>
            </div>


            <div class="statictic">
                <p>Middle time working for project</p>
                <div id="full_of_accession">
                    <div id="percentage_of_time_working" />
                </div>
            </div>
        </div>
    </div>
</div>