@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using JoinAndDo.Entities
@{
    List<Accession> listAccession = ViewBag.listAccession;
}

<script src="~/Scripts/js_sms.js"></script>
<link href="~/Styles/style_search_accession.css" rel="stylesheet" />
<script src="~/Scripts/js_search_accession.js"></script>

<div id="blocks">
    <div id="form_search">
        <input type="text" name="name" />
        <button onclick="SearchAccession()">Search</button>
    </div>

@foreach (var join in listAccession)
{
    <div class="block" onclick="OpenAccession(@join.Id)">
        <div class="name">@join.Title</div>
        <div class="rating">
            <p class="number_of_people">@join.People/@join.AllPeople</p>
        </div>
        <div class="creator">@join.Creator</div>
        <div class="description">@join.Text</div>
        <button class="btn_join">Accept</button>
    </div>
}
</div>